.crumbsbg {background-repeat: repeat-x; background-color: transparent; }
.datebg {background-repeat: repeat-x; background-color: transparent; }
.menubg {background-attachment: fixed; background-color: transparent; }
.blog_signature {color: #FFFFFF; }
.textareabg {background-repeat: repeat-y; background-attachment: fixed; background-color: transparent; }
.headbg {background-repeat: no-repeat; background-color: transparent; background-image: url("http://i24.ltalk.ru/34/62/276234/186/design/headbg.png"); }
.bottombg {background-repeat: repeat-y; background-attachment: fixed; background-color: transparent; }
.topic_title {color: #FFFFFF; }
.blog_title {color: #FFFFFF; }
.bodybg {background-attachment: fixed; background-image: url("http://i24.ltalk.ru/34/62/276234/186/design/bodybg.jpeg"); }
.commentbg {color: #FFFFFF; background-attachment: fixed; background-color: transparent; }
.postbg {color: #FFFFFF; background-attachment: fixed; background-color: transparent; background-image: url("http://i24.ltalk.ru/34/62/276234/186/design/postbg.png"); }

